In [22]:
import pandas as pd
import json

In [23]:
waypoint_t0 = '2023-09-25 11:00:00 +00:00'

In [24]:
df = pd.read_csv('sample_route_20230917.csv')
df = df.rename(columns={'TIME AT WAYPOINT': 'timestamp', 'LATITUDE': 'latitude', 'LONGITUDE': 'longitude'})

data = {
    'waypoint_t0': waypoint_t0,
    'records': json.loads(df.to_json(orient='records'))
}

In [25]:
with open('sample_route_20230917.json', 'w') as f:
    json.dump(data, f, indent=True)

In [26]:
with open('sample_route_20230917.json', 'r') as f:
    js = json.load(f)
df2 = pd.json_normalize(js, 'records')
df2

      latitude   longitude                   timestamp
0    31.233333  121.483333  2023-09-17 09:40:00 +00:00
1    31.235212  121.490076  2023-09-17 09:42:10 +00:00
2    31.229566  121.497281  2023-09-17 09:45:09 +00:00
3    31.228668  121.499115  2023-09-17 09:45:48 +00:00
4    31.230393  121.497940  2023-09-17 09:46:31 +00:00
..         ...         ...                         ...
134  33.730442 -118.196907  2023-10-08 10:00:56 +00:00
135  33.735482 -118.206204  2023-10-08 10:04:18 +00:00
136  33.737122 -118.209228  2023-10-08 10:05:24 +00:00
137  33.739202 -118.211095  2023-10-08 10:06:20 +00:00
138  33.745400 -118.216883  2023-10-08 10:09:11 +00:00

[139 rows x 3 columns]